.container.testimonials__container {
    width: 100%;
    padding-bottom: 4rem;
}

.client__avatar {
    width: 4rem;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 1rem;
    border: 0.4rem solid rgba(77, 181, 255, 0.4);
}

.testimonials {
    background: #2c2c6c;
    background-image: linear-gradient(to right, #06b6d4 , #3b82f6);
    text-align: center;
    padding: 2rem;
    border-radius: 2rem;
    user-select: none;
}

.client__review {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
    display: block;
    width: 80%;
    margin: 0.8rem auto 0;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
    background: white;

}


/*---------MEDIA QUERIES-MEDIUM DEVICES---------------*/

@media screen and (max-width: 1024px) {
    .container.testimonials__container{
        width: 60%;

    }
}

/*---------MEDIA QUERIES-SMALL DEVICES---------------*/

@media screen and (max-width: 600px) {
    .container.testimonials__container{
        width: var(--container-width-sm);
    }

    .client__review {
        width: var(--container-width-sm);
    }
}



